a {
    text-decoration: none;
    color: #e5e7eb;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.top{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 5px 0;
    padding-right: 55px;
    padding-left: 105px;
    min-width: 800px;
}

.header-logo{
    display: flex;
    gap: 20px;
}

.logo{
    width: 60px;
}

.title-logo{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #f9faf8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-links{
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
}

.hero{
    display: flex;
    padding: 70px 200px 100px 200px;
    gap: 75px;
    align-items: center;
    justify-content: space-around; /*space around allows to have centered items after they wrap */
    flex-wrap: wrap;
    background-color: #1f2937;
    
}

.hero-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 400px; /* setting flex-basis equal to min width will allow the two elements to shrink first then wrap after hitting the min-width*/
    min-width: 400px;
    max-width: 800px;
    color: #f9faf8;
}

.hero-main-text{
    font-size: 60px;
    font-weight: bolder;
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

a.hero-button{
    font-size: 20px;
    margin-top: 75px;
    padding: 10px 15px;
    align-self: center;
    border: 0px #3882f6;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
}

.hero-img-container{
    display: flex;
    align-items: center;
}

.hero-img{
    width: 500px;
    align-self: center;
    border: #e5e7eb solid 3px;
    border-radius: 10px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 150px;
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info-images{
    display: flex;
    gap: 80px;
    padding-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-img{
    width: 250px;
    height: 250px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.quote{
    background-color: #e5e7eb;
    padding: 75px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    max-width: 600px;
    min-width: 400px;
    margin-bottom: 20px;
    color: #1f2937;
}

.quote-citation{
    padding-left: 300px;
    font-size: 18px;
    font-weight: 800;
    color: #1f2937;
    min-width: 90px;
}

.adopt{
    padding: 120px 100px;
    display: flex;
    justify-content: center;
}

.adopt-container{
    display: flex;
    width: 1000px;
    padding: 50px 50px;
    gap: 50px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 350px;
}

.adopt-title{
    font-size: 26px;
    font-weight: 600;
    color: #f9faf8;
}

.adopt-subtext{
    color: #e5e7eb;
}

.bottom-button{
    font-size: 18px;
    padding: 8px 24px;
    align-self: center;
    border: 0px #3882f6;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border: #f9faf8 solid 2px;
}

.footer{
    background-color: #1f2937;
    text-decoration: underline;
    text-align: center;
    padding: 24px 0px;
}